#logo{
   width: 90px;
   height: 90px;
}

#navbar {
    background-color: #52584E;
}

#image1{
    width: 50%;
    height: 50%;
}

#image2{
    width: 50%;
    height: 50%;
}

#combi{
    width: 50%;
    height: 50%;
}

#zen {
    width: 50%;
    height: 50%;
}

#jupedoree{
    width: 50%;
    height: 50%;
}

#blan{
    width: 50%;
    height: 50%;
}

#beige{
    width: 65%;
    height: 65%;
}

#kaki{
    width: 67%;
    height: 67%;
}

#insta{
    width:5%;
    height: 5%;
}

#fb{
    width:5%;
    height: 5%;
}

#pint{
    width:6%;
    height: 6%;
}

#illu{
    width:50%;
    height: 50%;
}

.center{
    text-align: center;
}

.card-image{
    text-align: center;
}

.card-action{
    text-align: center;
}

#beige1{
    height: 30%;
    width: 30%;
}

#talons{
    height: 30%;
    width: 30%;
}

#talons2{
    height: 35%;
    width: 35%;
}
